
<h1> Welcome to sportExpert*</h1>

<h2> What are your colours, <%= current_user.username %> ?</h2>


<h1> <%= @profile.bio %></h1>
<h1> <%= @profile.favorite %></h1>
<h1> <%= @profile.location %></h1>
<h1> You are following <%= @profile.followed %> people.</h1>
<h1> You have <%= @profile.followers %> followers.</h1>
<h1><a class='edit' href="/editprofile"> Edit your Profile</a> </h1>

<ul>
	<% @user.posts.each do |p| %>
		<li><%= p.post %></li>
	<% end %>
</ul>

<div class="feed">
		<form action='/post' method='POST' class='newpost'>
			<textarea type='text' for='post' maxlength='151' placeholder='Tell everyone why you are an expert.' rows='3' cols='80' name='post'></textarea>
			<br>
			<input type='submit' value='post' class='pbutton'>
		</form>
		
</div>



